<div class="container">
  <div class="user">
    <ul>
      <div class="image">
        <%= link_to profiles_path do %>
        <div style="background: url('<%= image_url(@user) %>'); background-position: 50%; background-size: cover;"></div>
        <%= @user.name %>
        <% end %>
      </div>
      <li>
        <%= link_to 'フォロー', '/users/{:id}/follow' %>
      </li>
      <li>
        <%= link_to 'フォロワー', '/users/{:id}/follower' %>
      </li>
      <li>
        <%= link_to 'ブックマーク', '/users/bookmarks' %>
      </li>
      <!--<li>閲覧履歴</li>-->
    </ul>
  </div>
  
  <% if @posts.any? %>
    <div class ="post">
      <ul>
        <% @posts.each do |post| %>
            <li>
              <div class ="image">
                <%= link_to artworks_path do %>
                  <%= image_tag image1_url(post) %>
                <% end %>
              </div>
              <p><%= product.title %></p>
              <p><%= user.name %></p>
            </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p class="empty">投稿がありません。</p>
  <% end %>
  
  <% if @reccomends.any? %>
    <div class ="recommend">
    <h2>みんなの新着投稿</h2>
      <ul>
        <% @reccomends.each do |user| %>
          <li>
            <div class ="image">
              <%= link_to artworks_path do %>
                <%= image_tag image1_url(post) %>
              <% end %>
            </div>
            <p><%= post.name %></p>
            <p><%= @user.name %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p class="empty">おすすめはありません。</p>
  <% end %>
</div>

