<div class="container">
  <div class="posts">
    <ul class ="upload_form">
    <%= form_for @post do |f| %>
      <div class="file_wrap">
        <!--複数投稿できるようにする-->
        <p>写真選択</p>
        <%= f.file_field :images, mutiple: true %>
      </div>
      <div class="field">
        <p>タイトル</p>
        <%= f.text_area :title %>
      </div>
      <div class="textarea_wrap">
        <p>キャプション</p>
        <%= f.text_area :caption %>
      </div>
      <!--タグ付け調べる-->
      <div class="textarea_wrap">
        <p>タグ</p>
        <%= f.text_area :tag %>
      </div>
    </ul>
    <div class="btn_wrap">
      <%= f.submit "送信する" %>
    </div>
    <% end %>
  </div>
</div>