<div class="container">
  <div class="posts">
    <ul class ="upload_form">
    <%= form_for @post do |f| %>
      <div class="file_wrap">
        <%= f.file_field :images, mutiple: true, "ファイルを選択" %>
      </div>
      <div class="field">
        <%= f.text_area :title, "タイトル" %>
      </div>
      <div class="textarea_wrap">
        <%= f.text_area :comment, "キャプション" %>
      </div>
      <div class="textarea_wrap">
        <%= f.text_area :tag, "タグ" %>
      </div>
    </ul>
    <div class="btn_wrap">
      <%= f.submit "送信する" %>
    </div>
    <% end %>
  </div>
</div>