<!DOCTYPE html>
<html>
  <head>
    <title>Illustration</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="logined">
    <header class="global_header">
      <div class="icon">
        <%= link_to top_path do %>
          <h1 class="logo">illustration</h1>
        <% end %>
      </div>
      <form class="search">
        <input type="text" placeholder="検索" name="word" value="">
      </form>
      <ul class="menu">
        <li>
          <%= link_to profiles_path do %>  
          <i class="fa fa-user-o"></i>
          <% end %>
        </li>
        <li>
          <%= link_to upload_path do %>
            <i class="fa fa-upload"></i>
          <% end %>
        </li>
      </ul>
    </header>
    <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        window.setTimeout(function() {
            $(".alert").slideUp();
        }, 3000);
    </script>
  </body>
</html>